\addplot[
	color=red,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.226667)(75,0.666667)(100,0.45)};
\addlegendentry{ffc$,bisect$,down}
\addplot[
	color=green,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.223333)(75,0.65)(100,0.476667)};
\addlegendentry{ffc$,enum$,down}
\addplot[
	color=blue,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.223333)(75,0.623333)(100,0.463333)};
\addlegendentry{ffc$,step$,down}
\addplot[
	color=cyan,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.223333)(75,0.583333)(100,0.46)};
\addlegendentry{ffc$,enum$,up}
\addplot[
	color=magenta,
	mark=circle,
	]
	coordinates {
	(25,0.126667)(50,0.226667)(75,0.616667)(100,0.463333)};
\addlegendentry{ffc$,step$,up}
\addplot[
	color=yellow,
	mark=circle,
	]
	coordinates {
	(25,0.126667)(50,0.223333)(75,0.596667)(100,0.476667)};
\addlegendentry{ffc$,median$,down}
\addplot[
	color=black,
	mark=circle,
	]
	coordinates {
	(25,0.126667)(50,0.223333)(75,0.626667)(100,0.46)};
\addlegendentry{ffc$,median$,up}
\addplot[
	color=gray,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.666667)(100,0.466667)};
\addlegendentry{leftmost$,enum$,up}
\addplot[
	color=darkgray,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.29)(75,0.673333)(100,0.47)};
\addlegendentry{leftmost$,step$,up}
\addplot[
	color=lightgray,
	mark=circle,
	]
	coordinates {
	(25,0.136667)(50,0.246667)(75,0.72)(100,0.46)};
\addlegendentry{leftmost$,step$,down}
\addplot[
	color=brown,
	mark=circle,
	]
	coordinates {
	(25,0.2)(50,0.386667)(75,0.65)(100,1.20667)};
\addlegendentry{leftmost$,median$,up}
\addplot[
	color=lime,
	mark=circle,
	]
	coordinates {
	(25,0.136667)(50,0.326667)(75,0.79)(100,0.5)};
\addlegendentry{leftmost$,median$,down}
\addplot[
	color=olive,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.226667)(75,0.643333)(100,0.453333)};
\addlegendentry{ffc$,bisect$,up}
\addplot[
	color=orange,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.776667)(100,0.456667)};
\addlegendentry{leftmost$,bisect$,up}
\addplot[
	color=pink,
	mark=circle,
	]
	coordinates {
	(25,0.126667)(50,0.22)(75,0.62)(100,0.45)};
\addlegendentry{leftmost$,enum$,down}
\addplot[
	color=purple,
	mark=circle,
	]
	coordinates {
	(25,0.136667)(50,0.223333)(75,0.866667)(100,0.453333)};
\addlegendentry{leftmost$,bisect$,down}
\addplot[
	color=teal,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.22)(75,0.59)(100,0.466667)};
\addlegendentry{ff$,enum$,up}
\addplot[
	color=violet,
	mark=circle,
	]
	coordinates {
	(25,0.136667)(50,0.223333)(75,0.593333)(100,0.483333)};
\addlegendentry{ff$,step$,down}
\addplot[
	color=red,
	mark=square,
	]
	coordinates {
	(25,0.13)(50,0.223333)(75,0.626667)(100,0.453333)};
\addlegendentry{ff$,median$,up}
\addplot[
	color=green,
	mark=square,
	]
	coordinates {
	(25,0.13)(50,0.22)(75,0.61)(100,0.47)};
\addlegendentry{ff$,median$,down}
\addplot[
	color=blue,
	mark=square,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.583333)(100,0.52)};
\addlegendentry{ff$,step$,up}
\addplot[
	color=cyan,
	mark=square,
	]
	coordinates {
	(25,0.13)(50,0.223333)(75,0.59)(100,0.463333)};
\addlegendentry{ff$,enum$,down}
\addplot[
	color=magenta,
	mark=square,
	]
	coordinates {
	(25,0.126667)(50,0.226667)(75,0.596667)(100,0.476667)};
\addlegendentry{ff$,bisect$,up}
\addplot[
	color=yellow,
	mark=square,
	]
	coordinates {
	(25,0.126667)(50,0.23)(75,0.593333)(100,0.49)};
\addlegendentry{ff$,bisect$,down}
