\begin{tikzpicture}
\begin{axis}[
	axis lines = left,
	xlabel = {Dimension $x*x$},
	ylabel = {Time (s)},
	legend columns=4, 
	legend style={at={(0.5,-0.2)},anchor=north},
	enlarge x limits=-1, %hack to plot on the full x-axis scale
	width=11cm, %set bigger width
	height=10cm,
]
\addplot[
	color=red,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.246667)(75,0.506667)(100,0.456667)};
\addlegendentry{ffc$,bisect$,down}
\addplot[
	color=green,
	mark=circle,
	]
	coordinates {
	(25,0.136667)(50,0.236667)(75,0.493333)(100,0.463333)};
\addlegendentry{ffc$,step$,down}
\addplot[
	color=blue,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.24)(75,0.466667)(100,0.466667)};
\addlegendentry{ffc$,step$,up}
\addplot[
	color=cyan,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.503333)(100,0.46)};
\addlegendentry{ffc$,median$,down}
\addplot[
	color=magenta,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.496667)(100,0.476667)};
\addlegendentry{ff$,median$,down}
\addplot[
	color=yellow,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.266667)(75,0.503333)(100,0.476667)};
\addlegendentry{ffc$,bisect$,up}
\addplot[
	color=black,
	mark=circle,
	]
	coordinates {
	(25,0.136667)(50,0.233333)(75,0.473333)(100,0.463333)};
\addlegendentry{ff$,median$,up}
\addplot[
	color=gray,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.51)(100,0.456667)};
\addlegendentry{ff$,bisect$,down}
\addplot[
	color=darkgray,
	mark=circle,
	]
	coordinates {
	(25,0.14)(50,0.226667)(75,0.483333)(100,0.46)};
\addlegendentry{ff$,step$,up}
\addplot[
	color=lightgray,
	mark=circle,
	]
	coordinates {
	(25,0.13)(50,0.226667)(75,0.473333)(100,0.453333)};
\addlegendentry{ffc$,median$,up}
\addplot[
	color=brown,
	mark=circle,
	]
	coordinates {
	(25,0.146667)(50,0.226667)(75,0.506667)(100,0.47)};
\addlegendentry{ff$,step$,down}
\addplot[
	color=lime,
	mark=circle,
	]
	coordinates {
	(25,0.133333)(50,0.226667)(75,0.483333)(100,0.47)};
\addlegendentry{ff$,bisect$,up}
\end{axis}
\end{tikzpicture}
